In [1]:
import json
import pandas as pd

In [2]:
with open('C:/Users/Pc/Desktop/Máster/Data Science (Pontia)/Proyecto Jupyter/Data/cuantia.json') as f:
    d = json.load(f)

In [3]:
data={'t_id':[], 'cuantia':[]}

for clave in d:
    data['t_id'].append(clave)
    data['cuantia'].append(d[clave]['cuantia'])

In [4]:
df = pd.DataFrame(data)
df.head(5)

  t_id   cuantia
0    0   9839.64
1    1   1864.28
2    2    181.00
3    3    181.00
4    4  11668.14

In [5]:
df.dtypes

t_id        object
cuantia    float64
dtype: object

In [6]:
df['t_id'] = df['t_id'].astype(int)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   t_id     int32
 1   cuantia  float64
dtypes: float64(1), int32(1)
memory usage: 72.8 MB

In [8]:
#missing values
df.isna().sum()

t_id       0
cuantia    0
dtype: int64

In [9]:
df.isnull().sum()

t_id       0
cuantia    0
dtype: int64

In [10]:
#Valores únicos
df.t_id.value_counts()

0          1
4241732    1
4241754    1
4241753    1
4241752    1
          ..
2120869    1
2120868    1
2120867    1
2120866    1
6362619    1
Name: t_id, Length: 6362620, dtype: int64

In [5]:
df.to_csv('cuantia.csv', sep= '|', index=False)