In [1]:
import json
import pandas as pd
with open("C:/Users/maria/OneDrive/Escritorio/pontia/tipo.json") as f:
    tipo=json.load(f)

In [2]:
lista_tipo = []
for clave, datos in tipo.items():
    for t_id in datos['t_id']:
        lista_tipo.append([t_id, datos['tipo']])

In [3]:
dft = pd.DataFrame(lista_tipo,columns=['t_id', 'tipo'])

In [4]:
dft

            t_id     tipo
0              0  PAYMENT
1              1  PAYMENT
2              4  PAYMENT
3              5  PAYMENT
4              6  PAYMENT
...          ...      ...
6362615  6362253  CASH_IN
6362616  6362271  CASH_IN
6362617  6362279  CASH_IN
6362618  6362298  CASH_IN
6362619  6362315  CASH_IN

[6362620 rows x 2 columns]

In [5]:
dft.dtypes

t_id     int64
tipo    object
dtype: object