In [1]:
import json
import pandas as pd
with open("C:/Users/Pc/Desktop/Máster/Data Science (Pontia)/Proyecto Jupyter/Data/clientes.json") as f:
    clientes=json.load(f)

In [2]:
lista_clientes=[]
for t_id, datos in clientes.items():
    cliente = {
        't_id': t_id,
        'origen': datos['origen'],
        'destino': datos['destino']
    }
    lista_clientes.append(cliente)

In [9]:
clientes=pd.DataFrame(lista_clientes)

In [10]:
clientes.head(10)

  t_id       origen      destino
0    0  C1231006815  M1979787155
1    1  C1666544295  M2044282225
2    2  C1305486145   C553264065
3    3   C840083671    C38997010
4    4  C2048537720  M1230701703
5    5    C90045638   M573487274
6    6   C154988899   M408069119
7    7  C1912850431   M633326333
8    8  C1265012928  M1176932104
9    9   C712410124   C195600860

In [11]:
clientes['t_id'] = clientes['t_id'].astype(int)
clientes['origen'] = clientes['origen'].astype('string')
clientes['destino'] = clientes['destino'].astype('string')

In [12]:
clientes.dtypes

t_id        int32
origen     string
destino    string
dtype: object

In [13]:
clientes= clientes.rename(columns={'origen': 'cl_origen','destino':'cl_destino'})

In [14]:
clientes.head(10)

   t_id    cl_origen   cl_destino
0     0  C1231006815  M1979787155
1     1  C1666544295  M2044282225
2     2  C1305486145   C553264065
3     3   C840083671    C38997010
4     4  C2048537720  M1230701703
5     5    C90045638   M573487274
6     6   C154988899   M408069119
7     7  C1912850431   M633326333
8     8  C1265012928  M1176932104
9     9   C712410124   C195600860

In [15]:
clientes.tail()

            t_id    cl_origen   cl_destino
6362615  6362615   C786484425   C776919290
6362616  6362616  C1529008245  C1881841831
6362617  6362617  C1162922333  C1365125890
6362618  6362618  C1685995037  C2080388513
6362619  6362619  C1280323807   C873221189

In [16]:
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   t_id        int32
 1   cl_origen   string
 2   cl_destino  string
dtypes: int32(1), string(2)
memory usage: 121.4 MB

In [18]:
#missing values
clientes.isna().sum()

t_id          0
cl_origen     0
cl_destino    0
dtype: int64

In [19]:
#nulos
clientes.isnull().sum()

t_id          0
cl_origen     0
cl_destino    0
dtype: int64

In [20]:
#Valores únicos
clientes.t_id.value_counts()

0          1
4241732    1
4241754    1
4241753    1
4241752    1
          ..
2120869    1
2120868    1
2120867    1
2120866    1
6362619    1
Name: t_id, Length: 6362620, dtype: int64

In [21]:
clientes.cl_origen.value_counts()

C1902386530    3
C2098525306    3
C363736674     3
C1530544995    3
C1065307291    3
              ..
C2043347152    1
C1317912992    1
C1896823979    1
C95254583      1
C1280323807    1
Name: cl_origen, Length: 6353307, dtype: Int64

In [22]:
clientes.cl_destino.value_counts()

C1286084959    113
C985934102     109
C665576141     105
C2083562754    102
C248609774     101
              ...
M1474061848      1
M127209230       1
M523536771       1
M1872872398      1
C2080388513      1
Name: cl_destino, Length: 2722362, dtype: Int64

In [9]:
clientes.to_csv('C:/Users/Pc/Desktop/Máster/Data Science (Pontia)/Proyecto Jupyter/Csv/clientes.csv', index=False)