In [4]:
import pandas as pd 
import numpy as np

In [6]:
clientes = pd.read_csv('C:/Users/Pc/Desktop/M치ster/Data Science (Pontia)/Proyecto Jupyter/Csv/clientes.csv')

In [7]:
transacciones = pd.read_csv('C:/Users/Pc/Desktop/M치ster/Data Science (Pontia)/Proyecto Jupyter/Csv/transacciones.csv')

In [8]:
balances = pd.read_csv('C:/Users/Pc/Desktop/M치ster/Data Science (Pontia)/Proyecto Jupyter/Csv/balance.csv')

In [9]:
fraude = pd.read_csv('C:/Users/Pc/Desktop/M치ster/Data Science (Pontia)/Proyecto Jupyter/Csv/fraude.csv')

In [11]:
clientes.head()

   t_id    cl_origen   cl_destino
0     0  C1231006815  M1979787155
1     1  C1666544295  M2044282225
2     2  C1305486145   C553264065
3     3   C840083671    C38997010
4     4  C2048537720  M1230701703

In [12]:
transacciones.sample()

            t_id     tipo               tiempo    monto
6125587  6125587  PAYMENT  2022-09-23 18:00:00  8964.24

In [13]:
fraude.sample()

            t_id  es_fraude mensaje_alarma
1785957  1785991          0             No

In [14]:
balances.sample()

             cliente     t_id  balance_prev  balance_post
9639711  M1882996891  3567956           0.0           0.0

In [17]:
len(fraude)

6362520

In [21]:
batman=transacciones.merge(clientes, on='t_id', how='inner')

In [22]:
batman.head()

   t_id      tipo               tiempo     monto    cl_origen   cl_destino
0     0   PAYMENT  2022-09-01 07:00:00   9839.64  C1231006815  M1979787155
1     1   PAYMENT  2022-09-01 07:00:00   1864.28  C1666544295  M2044282225
2     2  TRANSFER  2022-09-01 07:00:00    181.00  C1305486145   C553264065
3     3  CASH_OUT  2022-09-01 07:00:00    181.00   C840083671    C38997010
4     4   PAYMENT  2022-09-01 07:00:00  11668.14  C2048537720  M1230701703

In [23]:
superman=batman.merge(fraude, on='t_id', how='inner')

In [24]:
superman.tail()

,t_id,tipo,tiempo,monto,cl_origen,cl_destino,es_fraude,mensaje_alarma
6362515,6362615,CASH_OUT,2022-10-02 05:00:00,339682.13,C786484425,C776919290,1,No
6362516,6362616,TRANSFER,2022-10-02 05:00:00,6311409.28,C1529008245,C1881841831,1,No
6362517,6362617,CASH_OUT,2022-10-02 05:00:00,6311409.28,C1162922333,C1365125890,1,No
6362518,6362618,TRANSFER,2022-10-02 05:00:00,850002.52,C1685995037,C2080388513,1,No
6362519,6362619,CASH_OUT,2022-10-02 05:00:00,850002.52,C1280323807,C873221189,1,No

In [25]:
len(superman)

6362520

In [28]:
balances.head(5)

       cliente  t_id  balance_prev  balance_post
0  C1231006815     0      170136.0     160296.36
1  M1979787155     0           0.0          0.00
2  C1666544295     1       21249.0      19384.72
3  M2044282225     1           0.0          0.00
4  C1305486145     2         181.0          0.00

In [31]:
# Comprobar si hay filas en que coincidan cliente origen y destino
superman[superman['cl_origen']==superman['cl_destino']]

Empty DataFrame
Columns: [t_id, tipo, tiempo, monto, cl_origen, cl_destino, es_fraude, mensaje_alarma]
Index: []

In [32]:
balances=balances.rename(columns={"cliente": "cl_origen"})
df= superman.merge(balances, how='inner', on=['cl_origen','t_id'])

In [33]:
df.head()

,t_id,tipo,tiempo,monto,cl_origen,cl_destino,es_fraude,mensaje_alarma,balance_prev,balance_post
0,0,PAYMENT,2022-09-01 07:00:00,9839.64,C1231006815,M1979787155,0,No,170136.0,160296.36
1,1,PAYMENT,2022-09-01 07:00:00,1864.28,C1666544295,M2044282225,0,No,21249.0,19384.72
2,2,TRANSFER,2022-09-01 07:00:00,181.00,C1305486145,C553264065,1,No,181.0,0.00
3,3,CASH_OUT,2022-09-01 07:00:00,181.00,C840083671,C38997010,1,No,181.0,0.00
4,4,PAYMENT,2022-09-01 07:00:00,11668.14,C2048537720,M1230701703,0,No,41554.0,29885.86

In [34]:
len(df)

6362520

In [35]:
balances=balances.rename(columns={"cl_origen": "cl_destino"})
df2= df.merge(balances, how='inner', on=['cl_destino','t_id'])

In [36]:
df2.head()

,t_id,tipo,tiempo,monto,cl_origen,cl_destino,es_fraude,mensaje_alarma,balance_prev_x,balance_post_x,balance_prev_y,balance_post_y
0,0,PAYMENT,2022-09-01 07:00:00,9839.64,C1231006815,M1979787155,0,No,170136.0,160296.36,0.0,0.0
1,1,PAYMENT,2022-09-01 07:00:00,1864.28,C1666544295,M2044282225,0,No,21249.0,19384.72,0.0,0.0
2,2,TRANSFER,2022-09-01 07:00:00,181.00,C1305486145,C553264065,1,No,181.0,0.00,0.0,0.0
3,3,CASH_OUT,2022-09-01 07:00:00,181.00,C840083671,C38997010,1,No,181.0,0.00,21182.0,0.0
4,4,PAYMENT,2022-09-01 07:00:00,11668.14,C2048537720,M1230701703,0,No,41554.0,29885.86,0.0,0.0

In [37]:
len(df2)

6362520

In [38]:
df2=df2.rename(columns={"balance_prev_x": "balance_prev_or", "balance_post_x": "balance_post_or", "balance_prev_y": "balance_prev_des", "balance_post_y": "balance_post_des"})

In [39]:
df2.head()

,t_id,tipo,tiempo,monto,cl_origen,cl_destino,es_fraude,mensaje_alarma,balance_prev_or,balance_post_or,balance_prev_des,balance_post_des
0,0,PAYMENT,2022-09-01 07:00:00,9839.64,C1231006815,M1979787155,0,No,170136.0,160296.36,0.0,0.0
1,1,PAYMENT,2022-09-01 07:00:00,1864.28,C1666544295,M2044282225,0,No,21249.0,19384.72,0.0,0.0
2,2,TRANSFER,2022-09-01 07:00:00,181.00,C1305486145,C553264065,1,No,181.0,0.00,0.0,0.0
3,3,CASH_OUT,2022-09-01 07:00:00,181.00,C840083671,C38997010,1,No,181.0,0.00,21182.0,0.0
4,4,PAYMENT,2022-09-01 07:00:00,11668.14,C2048537720,M1230701703,0,No,41554.0,29885.86,0.0,0.0